#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Set the SHELL to bash
export SHELL = /bin/bash

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_BUILD_GNU_TYPE      := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE       := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
version := $(shell dpkg-parsechangelog | grep ^"Version" | sed -r 's/Version: [0-9]{1}:([0-9\.].*dfsg)+.*/\1/')
#version := $(shell dpkg-parsechangelog | grep ^"Version" | sed -r 's/Version: [0-9]{1}:([0-9\.])-.*/\1/')
#tarball := gcc-$(version).tar.bz2

srcdir  := $(shell echo $(tarball) | sed -e 's/\.tar\.bz2//')

unpack: unpack-stamp
unpack-stamp:
	dh_testdir
	mkdir build
	touch $@

patch: patch-stamp
patch-stamp: unpack-stamp
	dh_testdir
	for patch in debian/patches/*.patch; do \
		patch -p0 < $$patch; \
	done
	touch patch-stamp

configure: configure-stamp
configure-stamp: unpack-stamp
	dh_testdir
	cd $(CURDIR)/build && \
	MAKEINFO="" ../configure \
						 --program-prefix=mc9s12x- \
                         --enable-languages=c \
                         --target=m68hc11 \
                         --with-gnu-as \
                         --with-gnu-ld \
                         --enable-nls \
                         --without-included-gettext \
                         --disable-checking \
                         --without-headers \
                         --build=$(DEB_BUILD_GNU_TYPE) \
                         --host=$(DEB_HOST_GNU_TYPE) \
						 --prefix=/usr \
                         --infodir=/usr/share/info \
                         --mandir=/usr/share/man 
	touch $@

build: configure-stamp built-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp: 
	dh_testdir
	cd build && $(MAKE) all-gcc
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/gcc-mc9s12x
	cd build && $(MAKE) install-gcc prefix=$(CURDIR)/debian/gcc-mc9s12x/usr \
      infodir=$(CURDIR)/debian/gcc-mc9s12x/usr/share/info \
      mandir=$(CURDIR)/debian/gcc-mc9s12x/usr/share/man

	# Rename man pages to prevent conflict with stock GCC
	mv $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/cpp.1 $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/mc9s12x-cpp.1
	mv $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/gcov.1 $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/mc9s12x-gcov.1
	
	# Reanem binaries to suite naming
	mv $(CURDIR)/debian/gcc-mc9s12x/usr/bin/m68hc11-gcc $(CURDIR)/debian/gcc-mc9s12x/usr/bin/mc9s12x-gcc
	mv $(CURDIR)/debian/gcc-mc9s12x/usr/bin/m68hc11-cpp $(CURDIR)/debian/gcc-mc9s12x/usr/bin/mc9s12x-cpp
	rm $(CURDIR)/debian/gcc-mc9s12x/usr/bin/m68hc11-gcc-3.3.6-9s12x-20120502
	ln -s mc9s12x-gcc $(CURDIR)/debian/gcc-mc9s12x/usr/bin/m68hc11-gcc-3.3.6-9s12x-20120502
	# Also create m68hc12- and m68hc11 links/helpers
	install -o root -g root -m 755 debian/m68hc11-gcc $(CURDIR)/debian/gcc-mc9s12x/usr/bin
	install -o root -g root -m 755 debian/m68hc12-gcc $(CURDIR)/debian/gcc-mc9s12x/usr/bin
	#ln -s m68hc11-gcc.1 $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/m68hc12-gcc.1

	for i in gccbug gcov cpp ; do \
	  ln -s mc9s12x-$$i $(CURDIR)/debian/gcc-mc9s12x/usr/bin/m68hc11-$$i ; \
	  ln -s mc9s12x-$$i $(CURDIR)/debian/gcc-mc9s12x/usr/bin/m68hc12-$$i ; \
	  ln -s mc9s12x-$$i.1 $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/m68hc11-$$i.1 ; \
	  ln -s mc9s12x-$$i.1 $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man1/m68hc12-$$i.1 ; \
	done
	# Remove non-needed files
	rm -rf $(CURDIR)/debian/gcc-mc9s12x/usr/bin/mc9s12x-gcc-*
#	rm -rf $(CURDIR)/debian/gcc-mc9s12x/usr/share/locale
	rm -rf $(CURDIR)/debian/gcc-mc9s12x/usr/share/info
	rm -rf $(CURDIR)/debian/gcc-mc9s12x/usr/share/man/man7
	rm -rf $(CURDIR)/debian/gcc-mc9s12x/usr/include
	rm -rf $(CURDIR)/debian/gcc-mc9s12x/usr/m68hc11/

	# Overrides
	install -D -p -o root -g root -m 644 $(CURDIR)/debian/source/lintian-overrides \
		$(CURDIR)/debian/gcc-mc9s12x/usr/share/lintian/overrides/gcc-mc9s12x

	
clean:
	dh_testdir
	dh_testroot
	rm -rf build
	rm -rf src
	rm -f build-stamp configure-stamp unpack-stamp

	dh_clean


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#   dh_installdebconf
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman
#	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip --exclude=.o --exclude=.a
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: unpack build clean binary-indep binary-arch binary install configure
